<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script type="text/javascript">

var click_handler= function (){
                    var input_string = $("#id_number").val();
                    $.ajax({
                        url : "/SandVentures/findprime/", 
                        type : "POST",
                        data : {
                            number : input_string,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(json) {  
                            returned_number=json.number
                            if (returned_number == $('#id_number').val()){
                             
                             $('#id_prime').val(json.prime_number);            
                             }else{
                                $('#id_prime').val('Please wait, yet being calculated');
                                $('#id_number').val(input_string);
                                $('#button').click();
                                
                              }
                            
                        }
                        
                    });
                    return false;};

        $(document).ready(function() {$("#button").on('click', click_handler);});
</script>
 <form action="{% url 'prime-finder' %}" method=post name="primefinder"  id="forminput"  >    

      {% csrf_token %}
      <label for="id_number">number:</label>
      <input id="id_number" maxlength="20" name="number" value="{{number}}" type="text"/>
      <label for="id_prime">prime:</label>
      <input id="id_prime" maxlength="200" name="prime" value="{{prime_number}}" type="text"/>
      <div class="container"><input type="button" name="button" value="Lookup" id="button"/></div>

  </form>
</body>
</html>
